{{#if this.editing}}
<Editor::ProseMirror @onSend={{this.update}} @onCancel={{this.cancel}}>
    <div class="hidden">{{{editor-format this.args.content.content}}}</div>
</Editor::ProseMirror>
<div class="message-edit-tooltip">escape to cancel • enter to save</div>
{{else}}
<div class="message-content" {{on "contextmenu" this.editMessage}}>
    {{{emoji this.args.content.content}}}
</div>
{{#if this.hasAttachments}}
    <Message::Attachments @attachments={{this.args.content.attachments}} />
{{/if}}
{{/if}}