<div class="message-box">
    <div>
        <div class="message-box-attachment">
            {{#each this.files as |file|}}
            <div class="message-box-attachment-block">
                <img src={{file.data}} />
            </div>
            {{/each}}
        </div>
    </div>
    <div class="message-box-container">
        <button class="message-box-container-button" type="button">
            <FaIcon @icon="plus-circle" @size="lg" />
        </button>
        <!-- <Input {{did-insert this.focus}} {{did-update this.focus channel}} class="message-box-container-input" {{on "keyup" this.keyCheck}} @value={{this.message}} /> -->
        <Editor::ProseMirror @main={{true}} {{did-insert this.editor}} @onContentChange={{this.onContentChange}}
            @onSend={{this.send}} @key={{channel}} />
        <button class="message-box-container-button" type="button" {{on 'click' this.togglePicker}}>
            <FaIcon @icon="laugh" @size="lg" />
        </button>
        {{#if this.isPickerOpen}}
        <div {{did-insert this.hookEmoji}} {{on-click-outside this.closePicker}} class={{if
            this.isPickerOpen "emoji-picker" "hidden" }}>
            <EmojiPicker />
        </div>
        {{/if}}
    </div>
</div>