{{page-title "Server"}}
<div class="content-menu">
    <div class="content-menu-main">
        <div class="channel-list-top">
            <h5>{{this.server.name}}</h5>
            <LinkTo @route="server.settings"><FaIcon @icon="cog" /></LinkTo>
        </div>
        <Channel::List @server={{this.server}} />
        <Channel::Creator @server={{this.server.id}} />
        <LinkTo @route="emoji" @model={{this.server.id}}>Emojis</LinkTo>
    </div>
    <UserArea />
</div>
<div class="main-content">
    {{outlet}}
</div>